<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Upload</h2>
  <div class="alert alert-success">
    <strong>Success!</strong> {{.SCInfo}}.
  </div>
</div>
<div class="container">
  <a href="/user/imageupload" class="btn btn-info" role="button">Continue to upload</a>
   <span style="float:right;">
  <a href="/user/dashboard/page/1" class="btn btn-info" role="button">Return to main page</a>
  </span>
</div>

</body>
</html>
